<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">

    <title>GAME!</title>
  </head>
  <body>
    <!-- Header Start -->
    <section id="header">
      <div class="container">
        <nav id="nav-default" class="d-flex align-items-center">
          <p class="back-button"></p>
          <img src="/images/logo.png" alt="">
          <h2>Rock Paper Scissors</h2>
        </nav>
      </div>
    </section>
    <!-- Header End -->

    <!-- Gameplay Start -->
    <section id="gameplay">
      <div class="container">
        <div class="row text-center pilihan">
          <div class="col-md-5 d-flex flex-column align-items-center">
            <h2>Player 1</h2>
            <div id="user">
              <button class="choice pilih-batu" type="button" data-choice="rock">
                <img class="rps" src="/images/batu.png" alt="">
              </button>
              <button class="choice pilih-paper" type="button" data-choice="paper">
                <img class="rps" src="/images/kertas.png" alt="">
              </button>
              <button class="choice pilih-scissor" type="button" data-choice="scissor">
                <img class="rps" src="/images/gunting.png" alt="">
              </button>
            </div>
          </div>
              <div class="col-md-2 d-flex flex-column justify-content-end text-center">
                <div id="result">
                  <div id="vs">
                    <p class="">VS</p>
                  </div>
                  <div id="computer-wins" class="box">
                    Computer Wins
                  </div>
                  <div id="user-wins" class="box">
                    Player 1 Wins
                  </div>
                  <div id="draw" class="box">
                    Draw
                  </div>
                </div>
                <button id="reset-btn">
                  <img class="reset" src="/images/refresh.png" alt="">
                </button>
          </div>
          <div class="col-md-5 d-flex flex-column align-items-center">
            <h2>Com</h2>
            <div id="computer">
              <button class="choice choice-rock" type="button" data-choice="rock" disabled>
                <img class="rps" src="/images/batu.png" alt="">
              </button>
              <button class="choice choice-rock" type="button" data-choice="paper" disabled>
                <img class="rps" src="/images/kertas.png" alt="">
              </button>
              <button class="choice choice-rock" type="button" data-choice="scissor" disabled>
                <img class="rps" src="/images/gunting.png" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gameplay End -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>